.container {
    background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    min-width: 20%;
}
.appointment-heading {
    color: #171f46;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
    margin: 8px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}
.labels {
    width: 100px;
    margin: 8px;
}
.label-title {
    color: #b5b7c4;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 6px;
}

.appointment-image {
    display: none;
}
.button {
    background-color: #8b5cf6;
    border-radius: 8px;
    width: 50px;
    height: 30px;
    border-width: 0px;
    color: #ffffff;
    padding: 3px;
    margin: 8px;
}

@media screen and (min-width: 768px) {
    .variation {
        display: flex;
        flex-direction: row;
    }
    .appointment-image {
        display: flex;
        heading: 350px;
        width: 300px;
    }
}
.line {
    background-color: #b5b7c4;
    border: 1px solid #b5b7c4;
    width: 100%;
}
.inputs {
    width: 170px;
    padding: 5px;
}
.adding-appointments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}
.appointment-name {
    color: #171f46;
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto";
}
.starred-button {
    background-color: transparent;
    border-color: #9897f0;
    border-width: 1px;
    border-style: solid;
    color: #9897f0;
    width: 60px;
    border-radius: 15px;
    height: 25px;
}
.filter-filled {
  color: #ffffff;
  background-color: #9897f0;
}

.filter-empty {
  color: #9897f0;
  background-color: transparent;
  border: 1px solid #9897f0;
}

.appointment-lists {
    padding: 0px;
    display: flex;
    width: 100%;
}
@media screen and (min-width:768px) {
    .appointment-lists {
        flex-wrap: wrap;
    }
}